body{
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}
input{
    width: 50%;
    font-size: 1rem;
    height: 1.5rem;
    border-radius: 5px;
}
button{
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
}
#button{
    background-color: hotpink;
    width: 2rem;
    height: 2rem;
}
.remove{
    background-color: red;
    margin: 0.5rem 0.5rem 0 0;
    float: inline-end;
    font-size: 1rem;
}
.add{
    background-color: green;
    float: inline-end;
    margin: 0.5rem 0.5rem 0 0;
    font-size: 1rem;
}
.toDoItem {
    background-color: rgb(237, 237, 237);
    border: 1px black solid;
    border-radius: 5px;
    width: 98%;
    margin: 1rem auto;
}
.content{
    display: inline-block;
}