body{
    text-align: center;
    padding: 0 auto;
}
input{
    width: 30%;
    border-radius: 5px;
}
button{
    background-color: black;
    height: 1.5rem;
    color: white;
    border-radius: 5px;
}
.toDoItem {
    background-color: grey;
}